body {
    background-image: url('/images/skeletal_weave.png');
}

#pictures {
    width: 100%;
    margin: 0 auto;
}

.pictures {
    margin: 0 auto;
    display: inline-block;
    float: left;
    position: relative;
    overflow-x: none;
    overflow-y: scroll;
    height: 300px;
    
}

.pictures img {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    margin-bottom: 5px;
}
.tags {
    margin: 0;
    padding: 0;
    width: 200px;
}

.tags li {
    list-style-type: none;
    background-color: rgba(0,0,255,0.1);
    display: inline;
    padding: .1em .1em .1em .1em;
}

.roundedCorners {
    padding: 9;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}