<!DOCTYPE html> 
<html> 
  <head> 
    <title>first try with backbone</title> 
        <link href="/css/style.css" type="text/css" rel="stylesheet"> 
        
        <script src="/js/vendor/modernizr-1.6.min.js"></script>
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/underscore.js"></script>
        <script src="/js/vendor/backbone.js"></script>
        <script src="/js/app.js"></script>

        <script type="text/template" id="album-template">
            <span class="album-title"><%= title %></span>
            <span class="artist-name"><%= artist %></span>
            <ol class="tracks">
                <% _.each(tracks, function(track) { %>
                <li><%= track.title %></li>
                <% }); %>
            </ol>
        </script>

    {% block head %}{% endblock %}
    
  </head> 
  <body> 
  
    {% block container %}{% endblock %}
	
    {% block footer %}{% endblock %}

    {% profiler_includes %}
  </body> 
</html>